<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.call"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="20" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.example.call" />
    <!-- 上面 这行是进行单元测试前的设置 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 外部储存可写 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <!-- 授权短信内容可读可写 -->
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="application.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- 定义该应用的Application -->
        <uses-library android:name="android.test.runner" />
        <!-- 注册单元测试相应的包 -->
        <activity
            android:name=".StartActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="broadcast_receiver.MeBroadCastReceiver">
            <intent-filter>
                <action android:name="broadcast_receiver_one" />
                <action android:name="broadcast_receiver_two" />
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity android:name="broadcast_receiver.ReceiverActivity" />

        <provider
            android:name="data.contentprovider.MyContentProvider"
            android:authorities="data.contentprovider.MyContentProvider" />
        <!-- android:authorities="data.contentprovider.myprovider"  设置权限，与自定义中的String AUTHORITY = "data.contentprovider.myprovider"; 对应 -->
        <provider
            android:name="data.contentprovider.TeacherContentProvider"
            android:authorities="data.contentprovider.sharedpervience" />
        <provider
            android:name="data.contentprovider.moretable.TwoTableContentProvider"
            android:authorities="data.contentprovider.moretable.TwoTableContentProvider" />

        <service android:name="notification.PlayerService" />
        <service android:name="service_by_binder.MyBinderService" />
        <service android:name="service.MySercive" />

        <activity android:name="service_by_binder.ServiceActivity" />
        <activity
            android:name="service.TestServiceActivity"
            android:label="服务service" />
        <activity
            android:name="music.mediaplayer.Mp3PlayerActivity"
            android:label="MP3播放器" />

        <!--
          导航通知设置父activity  4.1之前指定父activity
          <meta-data 
                android:name="android:support.PARENT_ACTIVITY"
                android:value="com.example.call.MainActivity"/>
        -->
        <activity
            android:name="music.mediaplayer.MusicActivity"
            android:label="播放音乐">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.call.MainActivity" />
        </activity>
        <activity
            android:name="data.contentprovider.sms.SmsTestActivity"
            android:label="监听短信" />
        <activity
            android:name=".MainActivity"
            android:label="@string/activity_name" />
        <activity android:name="scan_files.LookFilesActivity" />
        <activity
            android:name="call_back.TestCallBackActivity"
            android:label="回调机制学习" />
        <activity
            android:name=".LayoutMainActivity"
            android:label="@string/activity_name" />
        <activity
            android:name="tools.ShapeActivity"
            android:label="shape处理图片" />
        <activity android:name="study_handler.HandlerActivity" />
        <activity android:name="data.files.WritePrictureToStoreActivity" />
        <activity
            android:name="layout.CallActivity"
            android:label="@string/activity_name" />
        <activity
            android:name="tabhost.PopWindowsActivity"
            android:label="PopWindows学习" />
        <activity
            android:name="layout.RelativelayoutActivity"
            android:label="@string/activity_name" />
        <activity
            android:name="layout.TableLayoutActivity"
            android:label="@string/activity_name" />
        <activity
            android:name="wiaget.TextViewActivity"
            android:label="@string/activity_name" />
        <activity
            android:name=".LayoutsDemoActivity"
            android:label="@string/demo_text_them" />
        <activity
            android:name="wiaget.ButtonActivity"
            android:label="@string/demo_text_them" />
        <activity
            android:name="ui_adapter_wiaget.StudySpinnerActivity"
            android:label="Spinner测试"
            android:theme="@style/NoTitleTheme" />
        <!-- android:theme="@style/NoTitleTheme"  设置主题   Theme.Holo.Light.NoActionBar  可以将title部分 隐藏 -->

        <activity
            android:name="wiaget.ShowFromButtonActivity"
            android:label="通过button跳转来的Activity" />
        <activity
            android:name="app.login.ui.WeiXinLogin"
            android:icon="@drawable/weixin_icon2"
            android:label="我信1.0" />
        <activity
            android:name="event.ButtonOnClickEvent"
            android:label="鼠标点击事件的四种处理方式" />
        <activity
            android:name="wiaget.ImageViewActivity"
            android:label="ImageView学习" />
        <activity
            android:name="wiaget.TextViewApiStudyActivity"
            android:label="TextViewAPI中的属性学习" />
        <activity
            android:name="wiaget.SpinnerActivity"
            android:label="Spinner学习" />
        <activity
            android:name="wiaget.RadioButtonActivity"
            android:label="RadioButton学习" />
        <activity
            android:name="wiaget.CheckBoxStudy"
            android:label="CheckBox学习" />
        <activity
            android:name="wiaget.ToggleButtonSwitchActivity"
            android:label="ToggleButtonSwitch开关学习" />
        <activity
            android:name="wiaget.LogCat"
            android:label="LogCat日志学习" />
        <activity
            android:name="activity.StudyActivityLifeOne"
            android:label="Activity生命周期学习一" />
        <activity
            android:name="activity.StudyActivityLifeTwo"
            android:label="Activity生命周期学习二" />
        <activity
            android:name="event.LearnSaveStateActivity"
            android:label="SaveState状态保存" />
        <activity
            android:name="event.LearnActivityLaunchMade"
            android:label="Activity的标准启动模式学习" />
        <activity
            android:name="event.LaunchMadeSingTop"
            android:label="Activity的单顶启动模式学习"
            android:launchMode="singleTop" />
        <!-- 设置启动模式为单顶模式 -->

        <activity
            android:name="event.SingleTaskActivity"
            android:label="Activity的单任务启动模式学习" />
        <activity
            android:name=".WiagetMainActivity"
            android:label="控件学习" />
        <activity
            android:name="app.login.ui.LoginLogin"
            android:label="LoginLogin" />
        <activity
            android:name="event.LaunchMadeSingleInstance"
            android:label="Activity的单实例启动模式学习"
            android:launchMode="singleInstance" />
        <!-- 单实例模式的Activitiy -->

        <activity
            android:name="senddatebetweenactivity.OneActivity"
            android:label="activity之间的参数传递One"
            android:launchMode="singleTask" />
        <activity
            android:name="senddatebetweenactivity.TwoActivity"
            android:label="activity之间的参数传递Two" />
        <activity
            android:name="intent.TestIntentOne"
            android:label="TestIntentOne"
            android:launchMode="singleTask" />
        <activity
            android:name="intent.TestIntentTwo"
            android:label="TestIntentTwo">
            <intent-filter>
                <action android:name="IntentActivityOne" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- 隐式启动中需要设置对应的属性 -->
        </activity>
        <activity
            android:name="adapter.ListArrayAdapter"
            android:label="ArrayAdapter学习" />
        <activity
            android:name="adapter.AdapterSimpleAdapter"
            android:label="SimpleAdapter学习" />
        <activity
            android:name="adapter.MyAdapterActivity"
            android:label="自定义adapter学习" />
        <activity
            android:name="adapter.MyMessageAdapterActivity"
            android:label="自定义对象传值adapter" />
        <activity
            android:name="studytest.AdapterHomeworkActivity"
            android:icon="@drawable/adapter_homework_icon"
            android:label="美食" />
        <activity
            android:name="ui_adapter_wiaget.SpinnerActivity"
            android:label="Spinner控件" />
        <activity
            android:name="ui_adapter_wiaget.HistoryAutoCompleteTextViewActiviity"
            android:label="提示历史记录的AutoCompleteTextView" />
        <activity
            android:name="ui_adapter_wiaget.GridViewActivty"
            android:label="GridView学习" />
        <activity
            android:name="application.ApplicationActivity"
            android:label="Application学习" />
        <activity
            android:name="studytest.ImageInTextActivity"
            android:label="TextView文本中加载图片" />
        <activity
            android:name="ui_adapter_wiaget.SetTitleActivity"
            android:label="自定义标题设置" />
        <activity
            android:name="ui_adapter_wiaget.ViewPagerActivity"
            android:label="ViewPager学习" />
        <activity
            android:name="progess_bar.ProgressBarActivity"
            android:label="progressBar学习" />
        <activity
            android:name="study_dialog.TestDialogActivity"
            android:label="Dialog对话框学习" />
        <activity
            android:name="tabhost.TabHostActivity"
            android:label="tabhost学习" />
        <activity
            android:name="study_menu.OptionMenuActivity"
            android:label="menu学习" />
        <activity
            android:name="study_menu.ContentMenuActivity"
            android:label="Contentmenu学习">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.call.MainActivity" />
        </activity>
        <!-- meta-data指定activity的父类    点击ActionBar返回键是直接回到父类  4.1之后可直接设置 android:parentActivityName="com.example.actionbartest.LaunchActivity" -->

        <activity
            android:name="ui_adapter_wiaget.ForeverViewPagerActivity"
            android:label="无限循环ViewPager" />
        <activity android:name="notification.NotificationActivity" />
        <activity
            android:name="study_menu.ActionBarSearchActivity"
            android:label="搜索" />
        <activity
            android:name="study_menu.ActionBarActivity"
            android:label="微笑"
            android:logo="@drawable/img_smile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.call.MainActivity" />
        </activity>
        <!-- logo设置actionbar的图标。  lable 设置文本标题   Theme  可以设置是否显示actionbar -->
        <activity android:name="asynctask.AsynctaskActivity" />
        <activity android:name="asynctask.GridViewAsynctaskActivity" />
        <activity android:name="webview.WebViewActivity" />
        <activity android:name="webview.HttpServeletActivity" />
        <activity android:name="dataparmte.xml.HttpXmlParmaterActivity" />
        <activity android:name="adapter_view_refresh.LastRefreshActivity" />
        <activity android:name="adapter_view_refresh.XlistViewRefreshActivity" />
        <activity android:name="fragment_demo.fragment.FragmentDomeActivity" />
        <activity android:name="fragment_demo.Test_fragment.TestFragmentActivity" />
        <activity android:name="fragment_demo.test_fragment_life.FragmentLifeActivity" />
        <activity android:name="fragment_demo.sendMsg.FragmentMsgActivity" />
        <activity android:name="fragment_demo.fragment.FragmentMainActivity" />
        <activity android:name="fragment_demo.fragment.WorkFragmentActivity" />
        <activity android:name="fragment_demo.fragment.FragmentStackActivity" />
        <activity android:name="fragment_demo.subfragment.SubFragmentActivity" />
        <activity android:name="fragment_demo.tabfragment.TabFragmentActivity" />
        <activity android:name="fragment_demo.tabfragment.FragmentTabHostActivity" />
        <activity android:name="fragment_demo.tabfragment.FragmentStateActivity" />
        <activity android:name="fragment_demo.viewpager_fragment.ViewPagerActivity" />
        <activity android:name="fragment_demo.viewpager_fragment.ViewPagerFragmentActivity"></activity>
    </application>

</manifest>
